/* ---------- GLOBAL ---------- */
html{
    scroll-behavior: smooth;
}
body{
    margin:0;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color:white;
    overflow-x: hidden;
}

/* ----------BACKGROUND---------- */
#background {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
}

/* ---------- HEADER ---------- */
.header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    display:flex;  
    justify-content:space-between;  
    align-items:center;  
    padding:20px 40px;
    background:rgba(0,0,0,0.4);
    backdrop-filter:blur(5px);
    z-index:10;
    box-sizing: border-box;
}
.header nav {
    display: flex;
    gap: 20px;
}
.logo a {
    color: white;
    font-weight: bold;
    font-size: 28px;
    text-decoration: none;
}
.header nav a{
    text-decoration:none;
    color:white;
    font-size:16px;
    transition:0.3s;
}
.header nav a:hover{
    color:rgb(31, 31, 31);
}

/* ---------- HOME ---------- */
.home {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 80px;
}
.home-content {
    display: flex;
    align-items: center;
    gap: 40px;
}
.quote {
    text-align: center;
}

.home-info h1 {
    font-size: 40px;
    margin: 0;
}
.subtitle {
    font-size: 18px;
    opacity: 0.8;
    margin-top: 5px;
}
.home-text h1 {
    font-size: 60px;
}
.home-image img {
    width: 250px;
    border-radius: 30%;
    border: 4px solid white;
}

/* ----------SECTIONS---------- */
.section {
    padding: 120px 80px;
}


/* ----------ABOUT---------- */
.abouttitle{
    text-align: center;
    
}
.about{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:100px;
    flex-wrap: wrap;
    margin-top: 150px;
}
.about-self{
    max-width:500px;
    
}
.about-self h2{
    font-size:36px;
}
.about-self p{
    font-size:18px;
    line-height:1.8;
    text-align: center;
}



/* ---------- CERTIFICATIONS ---------- */

.cert {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.certification {
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
}

/* CARD STYLE */
.certificate {
    width: 400px;
    border-radius: 12px;
    overflow: hidden;
    backdrop-filter: blur(10px);
    background: rgba(6, 5, 5, 0.4);
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
    transition: 0.3s;
}
.certificate:hover {
    transform: translateY(-10px);
}
.certificate img {
    width: 100%;
    cursor: pointer;
    transition: 0.3s;
}
.certificate img:hover {
    transform: scale(1.10);
}
.cert-info {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: white;
    background: linear-gradient(135deg, #111, #1c1c1c);
    transition: 0.3s;
}
.cert-info:hover {
    background: linear-gradient(135deg, #dadada, #949494);
}
/* TEXT */
.cert-name {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}
.cert-verify {
    font-size: 13px;
    opacity: 0.8;
    text-align: center;
    
}

/* ---------- MODAL ---------- */
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
}
.modal-content {
    margin: auto;
    display: block;
    width: 70%;
    max-width: 1200px;
    border-radius: 10px; 
}
.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: white;
    font-size: 40px;
    cursor: pointer;
}


/* ----------TECH STACK---------- */
.techstacks{
    text-align: center;
    font-size: 40px;
}
.tech{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}
.tech-column {
    text-align:center;
    font-size: 15px;
}
.tech-box {
    background:rgb(255, 255, 255);
    color:black;
    padding:26px;
    margin-top:10px;
    border-radius:8px;
}
.tech-box img {
    width:50px;
}

  


/* ----------CONTACT---------- */
.contact-section {
    text-align: center;
    font-size: 30px;
}

.btn {
    padding: 12px 25px;
    background: #3e3e3e;
    color: white;
    text-decoration: none;
    margin: 10px;
    display: inline-block;
}

.btn:hover {
    background: #656565;
}



